.navbar-black {
  color: white;
}

.bg-black {
  background-color: black;
}

.navbar-white {
  color: black;
}

.bg-white {
  background-color: white;
}

.navbar-red {
  color: white;
}

.bg-red {
  background-color: red;
}

.navbar-green {
  color: white;
}

.bg-green {
  background-color: green;
}
